@page
@model SBoxManager.Pages.odo.pacientes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Paciente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Paciente.Id" />
            <div class="form-group">
                <label asp-for="Paciente.Foto" class="control-label"></label>
                <input asp-for="Paciente.Foto" class="form-control" />
                <span asp-validation-for="Paciente.Foto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paciente.Edad" class="control-label"></label>
                <input asp-for="Paciente.Edad" class="form-control" />
                <span asp-validation-for="Paciente.Edad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paciente.Direccion" class="control-label"></label>
                <textarea asp-for="Paciente.Direccion" class="form-control"></textarea>
                <span asp-validation-for="Paciente.Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paciente.Ocupacion" class="control-label"></label>
                <input asp-for="Paciente.Ocupacion" class="form-control" />
                <span asp-validation-for="Paciente.Ocupacion" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
